#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ if .personal -}}
{{ range .packages.personal.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.personal.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.personal.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ else - }}
{{ range .packages.work.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.work.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.work.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
