#!/bin/bash

{{ template "utils" }}

{{ if eq .chezmoi.os "linux" -}}
echo "Setting up Linux with apt-get"
sudo apt-get update && sudo apt-get upgrade -y
sudo apt autoremove -y
sudo apt-get install build-essential procps curl file git -y
{{ end -}}
