#!/bin/bash
{{ if and (eq .chezmoi.os "darwin") (not .headless) -}}
  {{ range $k, $v := .packages.personal.darwin.mas }}
    /opt/homebrew/bin/mas install {{ dig "id" "" $v }}
  {{ end -}}
{{ end -}}
