#!/bin/bash

{{ template "utils.tmpl" . }}

{{ if lookPath "brew" }}
info "Updating Homebrew..."
brew update
{{ else }}
source_brew
info "Updating Homebrew..."
brew update
{{ end }}

{{ template "brew" . }}
