#!/bin/bash
{{ if not (hasKey . "role") }}{{ fail "Role not set. Run: chezmoi init --apply" }}{{ end }}

{{ template "utils" . }}

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

{{ if lookPath "brew" }}
info "Updating Homebrew..."
brew update
{{ else }}

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
brew trust --tap jesseduffield/lazygit || true
brew trust --tap jesseduffield/lazydocker || true
{{ if .personal -}}
brew trust --tap nikitabobko/tap || true
{{ end -}}
{{ end -}}

{{ template "brew" . }}

