source-file ~/.config/tmux/tmux.reset.conf

set -g mouse off
set -g detach-on-destroy off     # don't exit from tmux when closing a session
set -g history-limit 1000000     # increase history size (from 2000)
set -g renumber-windows on       # renumber all windows when any window is deletedset -g detach-on-destroy off     # don't exit from tmux when closing a session
set -g set-clipboard on          # use system clipboard
set -g status-position top       # macOS / darwin style
set -g pane-active-border-style 'fg=magenta,bg=default'
set -g pane-border-style 'fg=brightblack,bg=default'

# vim movement in copy mode
set -wg mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
{{ if eq .chezmoi.os "darwin" -}}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'pbcopy' 
{{ else if eq .chezmoi.os "linux" -}}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'xclip -in -selection clipboard'
{{- end }}

# tmux cht.sh
bind-key -r i run-shell "tmux neww tmux-cht.sh"

# force terminal colors and italics to work
set -g default-terminal "screen-256color"
set -as terminal-overrides ",screen-256color*:Tc"

# start with 1 - easier window and pane switching
set -g base-index 1
setw -g pane-base-index 1

# change prefix to Ctrl-a - avoid vim interference
unbind C-b
set -g prefix C-a
bind C-a send-prefix

# open new panes in current
unbind %
bind | split-window -h -c "#{pane_current_path}"

unbind '"'
bind - split-window -v -c "#{pane_current_path}"

unbind r
bind r source-file $HOME/.config/tmux/tmux.conf

# pane resizing
# bind -r C-Down resize-pane -D 5
# bind -r C-Up resize-pane -U 5
# bind -r C-Right resize-pane -R 5
# bind -r C-Left resize-pane -L 5
bind -r m resize-pane -Z

# vim-like pane switching
bind -r ^ last-window
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R


bind-key -T copy-mode-vi 'v' send -X begin-selection # start selecting text with "v"
bind-key -T copy-mode-vi 'y' send -X copy-selection # copy text with "y"

unbind -T copy-mode-vi MouseDragEnd1Pane # don't exit copy mode after dragging with mouse

# neovim recommendations
set-option -s escape-time 10
set-option -g focus-events on

set -g @fzf-url-fzf-options '-p 60%,30% --prompt="   " --border-label=" Open URL "'
set -g @fzf-url-history-limit '2000'

# tpm plugin
set -g @plugin 'tmux-plugins/tpm'

# list of tmux plugins
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'catppuccin/tmux' # theme for tmux
set -g @plugin 'fcsonline/tmux-thumbs'
set -g @plugin 'sainnhe/tmux-fzf'
set -g @plugin 'wfxr/tmux-fzf-url'
set -g @plugin 'omerxx/tmux-sessionx'

{{ if eq .chezmoi.os "darwin" -}}
set -g @thumbs-command 'echo -n {} | pbcopy'
{{ else if eq .chezmoi.os "linux" -}}
set -g @thumbs-command 'echo -n {} | xclip -sel clip'
{{- end -}}

set -g @sessionx-bind 'o'
set -g @sessionx-x-path $DOTFILES
set -g @sessionx-window-height '85%'
set -g @sessionx-window-width '75%'
set -g @sessionx-zoxide-mode 'on'
set -g @sessionx-filter-current 'false'
set -g @sessionx-preview-enabled 'true'

set -g @catppuccin_window_left_separator ""
set -g @catppuccin_window_right_separator " "
set -g @catppuccin_window_middle_separator " █"
set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_default_text "#W"
set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_window_current_text "#W#{?window_zoomed_flag,(),}"
set -g @catppuccin_status_modules_left "session"
set -g @catppuccin_status_left_separator  " "
set -g @catppuccin_status_right_separator " "
set -g @catppuccin_status_right_separator_inverse "no"
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_connect_separator "no"
set -g @catppuccin_directory_text "#{b:pane_current_path}"
set -g @catppuccin_date_time_text "%H:%M"
set -g @catppuccin_status_background "default"

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
