#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

# Add Core Taps
{{ range .packages.core.taps -}}
tap {{ . | quote }}
{{ end -}}

# Add darwin taps
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}

# Add linux taps
{{ if eq .chezmoi.os "linux" -}}
{{ range .packages.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}

# Add Core Brews
{{ range .packages.core.brews -}}
brew {{ . | quote }}
{{ end -}}

# Add Darwin Brews
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}

# Add Linux Brews
{{ if eq .chezmoi.os "linux" -}}
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}

# Add Core Casks
{{ range .packages.core.casks -}}
cask {{ . | quote }}
{{ end -}}

# Add Darwin Casks
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}

# Add Linux Casks
{{ if eq .chezmoi.os "linux" -}}
{{ range .packages.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ if .personal -}}
{{ range .packages.personal.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.personal.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.personal.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ else }}
{{ range .packages.work.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.work.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.work.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{ if .personal -}}
{{ range .packages.personal.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.personal.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.personal.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ else }}
{{ range .packages.work.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.work.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.work.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
EOF
